<!--This displays the main card that gives a shrot overview of what the project is-->
<div class="center">
  <h2>Login</h2>
  <br />
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <label for="name">Username: </label>
      <input id="name" [(ngModel)]="login.username" placeholder="Username" />
    </mat-form-field>
  </form>
</div>
<div class="center">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <label for="name">Password: </label>
      <input id="name" [(ngModel)]="login.password" placeholder="Password" />
    </mat-form-field>
  </form>
</div>
