<!--This displays the main card that gives a short overview of what the project is-->
<p></p>
<h2 class="titleLogin">Login</h2>
<div class="center column flex">
  <div class="center flex column form">
    <div>Username:</div>
    <!-- ngModel binds the input field to the username variable in login.component.ts -->
    <input [(ngModel)]="username" type="text" placeholder="Username" />
    <br />
    <div>Email:</div>
    <input [(ngModel)]="email" type="text" placeholder="Email" />
    <br />
    <div>Password:</div>
    <input [(ngModel)]="password" type="password" placeholder="Password" />
    <br />
    <!-- on button press, the addUser() using bound variables -->
    <button type="submit" (click)="addUser()">Login</button>
  </div>
  <br />
  <div class="center flex">
    <table class="table table-striped">
      <div *ngFor="let userItem of userItems">
        <div>{{ userItem.username }}</div>
        <div>{{ userItem.email }}</div>
        <div>{{ userItem.password }}</div>
        <br />
      </div>
      <tbody></tbody>
    </table>
  </div>
</div>
