<!--This displays the main card that gives a short overview of what the project is-->
<p>
  <h2 class="titleLogin">Login</h2>
  <div>
  <form class="center">
    <mat-form-field>
      <label for="name">Username: </label>
      <input id="name" [(ngModel)]="login.username" placeholder="Username" />
    </mat-form-field>
  </form>
  <form class="center">
    <mat-form-field>
      <label for="name">Password: </label>
      <input id="name" [(ngModel)]="login.password" placeholder="Password" />
    </mat-form-field>
  </form>
  
</div>
<div class="center">
  <button type="button">
  <span>Login</span>
  </button>
</div>
