.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: darkgreen;
}
.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 400px;
  min-width: 310px;
}
