.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: darkgreen;
}
.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: flex-start;
}
.stock-grid {
  flex-direction: row;
  align-items: flex-start;
  margin-left: 30px;
  width: 600px;
}
.stock-display-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid black;
}
.stock-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid black;
}
.flex {
  display: flex;
}
.charts {
  display: flex;
  margin: 40 px;
}
.line {
  flex: 1;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.pie {
  flex: 1;
  box-shadow: 10px 10px 5px #aaaaaa;
}
#container {
  height: 400px;
  min-width: 310px;
}
